<div class="category">
    <a class="category__image-wrapper">
        <img class="category__image" src=<%= image %> alt="img">
    </a>
    <div class="category__inner">
        <div class="category__body">
            <h4 class="category__head"><%= title %></h4>
            <p class="category__text"><%= description %></p>
            <a href="#" class="category__btn">Order Now</a>
        </div>
    </div>
</div>