<div class="row__column row__column_25">
    <div class="product">
        <a class="product__image-wrapper">
            <img class="product__image" src=<%= image %> alt='product-img'>
        </a>    
        <div class="product__inner">
            <div class="product__body">
                <h5 class="product__title"><%= title %></h5>
                <p class="product__price">$<%= price %></p>
                <a class="product__btn">Add to Card</a>
            </div>
        </div>
    </div>
</div>