<li class="products-filter__item <% if (locals.active) {%> products-filter__item_active <% } %>">
    <a class="products-filter__text"> <%= title %> </a>
    <div class="products-filter__arrow"></div>
</li>