<%- include('./createProduct') %> 
<nav>
    <div class="nav-wrapper z-depth-2 grey darken-1">
      <a class="brand-logo">Products Page</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>
        <li><a class="modal-trigger" href="#product-create">Create product</a></li>
        <li><a id='log-out-btn'><i class='bx bx-log-out bx-sm'></i></a></li>
      </ul>
    </div>
</nav>