@import "../varibales";

.header{
    flex: 0 0 auto;
    .navigation {
        z-index: 999;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
        .array{
            display: inline-block;
            border-right: 4px solid $blue;
            border-bottom: 4px solid $blue;
            width: 10px; height: 10px;
            transform: rotate(45deg);
            transition-property: border-bottom, border-right opacity visibility;
            transition: 0.3s;
            &.array-rigth{
                transform: rotate(-45deg);
            }
        }
        .menu {
            position: relative;
            display: flex;
            justify-content: center;
			list-style: none;
			user-select: none;
            .menu-item{
                position: relative;
                > a{
                    text-decoration: none;
                    transition: color 0.5s;
                    font-size: 16px;
                    font-weight: 700;
                    color: $blue;
                    margin: 35px;
                    padding: 25px 0;
                    &:hover{
                        .array{
                            border-right: 4px solid $yellow;
                            border-bottom: 4px solid $yellow; 
                            transition: color 0.3s;
                            transition-property: border-bottom, border-right;
                        }
                        color: $yellow;
                        transition-property: border-bottom, border-right;
                        transition: color 0.3s;
                    }
                }
                .sub-menu {
                    position: absolute;
                    background: #fff;
                    top: 35px;
                    line-height: 40px;
                    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
                    width: 250px;
                    transform: translateY(20px);
                    transition: 0.5s;
                    transition-property: transform;
                    //hide / show

                    opacity: 0;
                    visibility: hidden;
                    .sub-item{
                        position: relative;
                        list-style: none;
                        padding: 7px 0;
                        cursor: pointer;
                        border-bottom: 1px dashed #e1e1e1;;
                        a{
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 700;
                            color: $blue;
                            transition: color 0.5s;
                        }
                        &:hover a {
                            color: $yellow;
                        }
                        &:last-child {
                            border-bottom: none;
                        }

                        &.more{
                            position: relative;
                            .more-menu{
                                position: absolute;
                                background: #fff;
                                top: 0;
                                left: 100%;
                                line-height: 40px;
                                width: 250px;
                                box-shadow: 0 0px 25px rgb(0 0 0 / 20%);
                                transform: translateX(-5px);
                                transition: 0.5s;
                                transition-property: transform;

                                //hide / show
                                opacity: 0;
                                visibility: hidden;
                                .more-item{
                                    padding: 7px 0;
                                    border-bottom: 1px dashed #e1e1e1;
                                    list-style: none;
                                    a {
                                        text-decoration: none;
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: $blue;
                                        transition: color 0.5s;
                                    }
                                    &:hover a {
                                        color: $yellow;
                                    }
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        //show more-menu
                        &:hover .more-menu{
                            animation: 0.4s Show;
                            animation-fill-mode: forwards;
                            transform: translateY(0);
                        }
                    }
                }
                //show sub-menu
                &:hover .sub-menu{
                    animation: 0.4s Show;
                    animation-fill-mode: forwards;
                    transform: translateY(0);
                }
            }
            @keyframes Show {
                0% {
                    opacity: 0;
                }
                  100% {
                    visibility: visible;
                    opacity: 1;
                }
              }
        }
    }
}