<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <%- include('../partials/navbar') %> 
        </nav>
    </div>
    <main class="content">
        <section>
            <h1>Main Page</h1>
        </section>
    </main>
    <footer class="footer">
        <h1>Footer</h1>
    </footer>
</body>
</html>