<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <h1>Navbar</h1>
        </nav>
    </div>
    <main>
        <h1>Main Page</h1>
    </main>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
</html>