<div class="navigation">
    <a href="#" class="logo"><img src="/static/images/logo.png" alt="logo"></a>
    <ul class="menu">
        <li class="menu-item">
            <a href="#" class="sub-btn">Home <div class="array"></div></a>
            <ul class="sub-menu">
                <li class="sub-item"><a href="#">Home V1</a></li>
                <li class="sub-item"><a href="#">Home V2</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">About</a></li>
        <li class="menu-item">
            <a href="#" class="sub-btn">Pages <div class="array"></div></a>
            <ul class="sub-menu">
                <li class="sub-item more">
                    <a href="#" class="more-btn">Team<div class="array array-rigth"></div></a>
                    <ul class="more-menu">
                        <li class="more-item"><a href="#">Team</a></li>
                        <li class="more-item"><a href="#">Team Detail</a></li>
                    </ul>
                </li>
                <li class="sub-item"><a href="#">FAQ</a></li>
                <li class="sub-item"><a href="#">Contact</a></li>
                <li class="sub-item"><a href="#">Gallery</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" class="sub-btn">Blog <div class="array"></div></a>
            <ul class="sub-menu">
                <li class="sub-item"><a href="#">Blog List</a></li>
                <li class="sub-item"><a href="#">Blog Grid</a></li>
                <li class="sub-item"><a href="#">Blog Details</a></li>
            </ul>
        </li>
    </ul>
    <div class="menu-btn"></div>
</div>
