<div class="column col-25">
    <div class="product">
        <a class="product-image">
            <img src=<%= image %> alt='product-img'>
        </a>    
        <div class="product-inner">
            <div class="product-body">
                <h5 class="product-title"><%= title %></h5>
                <p class="product-price">$<%= price %></p>
                <a class="product-btn">Add to Card</a>
            </div>
        </div>
    </div>
</div>