<div class="category">
    <a class="category-image">
        <img src=<%= image %> alt="img">
    </a>
    <div class="category-inner">
        <div class="category-body">
            <h4 class="category-head"><%= title %></h4>
            <p class="category-text"><%= description %></p>
            <a href="#" class="category-btn">Order Now</a>
        </div>
    </div>
</div>