<nav class="navbar">
  <div class="navbar__logo-wraper">
    <a href="/" class="navbar_logo">
      <img src="/static/images/logo.png" alt="logo">
    </a>
  </div>
  <div class="navbar-nav">
    <div class="navbar-menu">
      <a href="/" class="menu-item">Home</a>
      <div class="navbar__submenu">
        <a href="/" class="menu-item">Home V1</a>
        <a href="/" class="menu-item">Home V2</a>
      </div>
    </div>
    <div class="navbar-menu">
      <a href="/" class="menu-item">About</a>
    </div>
  </div>
  <div class="navbar-control">
    
  </div>
</nav>