<nav class="navbar">
    <a class="navbar-brand" href="#">Brand Name</a>
    <ul class="navbar-menu">
      <li class="menu-item">
        <a class="menu-link" href="#">Home</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">About</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">Portfolio</a>
      </li>
    </ul>
</nav>