<nav class="navbar">
  <div class="navbar_logo-wrapper">
    <a class="navbar_logo" href="/">
      <img alt="logo" src="static/images/logo.png" />
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="menu-item menu-item-has-children">
      <a>Home</a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="/">Home v1</a>
        </li>
        <li class="menu-item">
          <a href="/">Home v2</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/">About</a>
    </li>
    <li class="menu-item menu-item-has-children">
      <a>Service</a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="/">Services</a>
        </li>
        <li class="menu-item">
          <a href="/">Service Details</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="navbar_controller-inner">
    <div class="navbar_controller"><i class='bx bx-menu bx-md'></i></div>
  </div>
</nav>