<html>
<head>
    <%- include('../partials/head') %> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-3.2.2.min.css">
</head>
<body>
  <main style='margin-top: 100px;'>
    <center>
      <div class="container">
        <h5 class="indigo-text" id='headerText'>Login into your account</h5>
        <div class="z-depth-1 grey lighten-4 row" style="width: 500px; display: inline-block; padding: 32px 72px 0px 72px; border: 1px solid #EEE;">
            <div class='row'>
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <span id = "emailHelper" class="helper-text red-text hide">Invaid Email</span>
                </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <input type='password' name='password' id='password' />
                <label for='password'>Enter your password</label>
                <p><span id ='passwordHelper' class="helper-text red-text hide">Password length at least 6 characters</span></p>
              </div>
              <div class='input-field col s12 hide' id = 'repeatbx'>
                <input type='password' name='repeat-password' id='repeat' />
                <label for='repeat'>Repeat your password</label>
                <p><span id ='repeatHelper' class="helper-text red-text hide">Different passwords</span></p>
              </div>
            </div>
            <div class="row">
                <div class="progress hide" id = 'progress'>
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div class='row'>
                <button name='btn_login' id='btn_login' class='col s12 btn btn-large waves-effect indigo' >Login</button>
            </div>
        </div>
      </div>
      <a id = 'register_btn' style="cursor: pointer;">Create account</a>
      <a id = 'login_btn' style="cursor: pointer;" class='hide'>Login to account</a>
    </center>
  </main>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-3.2.2.min.js"></script>
  <script type="module" src="/static/js/js.cookie.min.mjs"></script>
  <script type="module" src="/static/js/login.mjs"></script>

</body>
</html>